html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}
body, .app {
  background: #f5e5c0;
}

a:link,
a:visited {
  color: #000;
  text-decoration-color: #888;
}

a:hover {
  color: #e44e4e;
}

/* main page */

.list-books-title {
  padding: 10px 0 4px;
  background: #2e332f;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  font-family: 'Kranky', sans-serif;
}

.list-books-title a:link,
.list-books-title a:visited {
  transition: 0.4s;
  text-decoration: none;
  color: #f1cada;
}

.list-books-title a:hover {
  transition: 0.52s;
  color: #da709c;
}

.list-books-title .logo a:link,
.list-books-title .logo a:visited {
  color: #fff;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin: 0 1em;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  font-family: "Kranky", sans-serif;
  font-variant: small-caps;
  border-bottom: 2px solid #2e332f;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #474f49;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  background-color: #2e332f;
  color: white;
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: #2e332f;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.books-grid li a {
  font-weight: 700;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #656565;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #97a09a;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.book-details-main-info {
  display: inline-block;
  margin: auto 1em auto;
}

.book-details-main-info h5 {
  font-weight: normal;
  color: #2e332f;
}

a.details-author {
  text-decoration: none;
  color: #333;
  font-size: 1.24em;
}

.book-details-thumbnail {
  display: inline-block;
  float: left;
  margin: 1em;
}

.book-details-description {
  clear: left;
}

.book-details-description p {
  padding: 0 1.4em;
}

hr + h2 {
  font-family: "Kranky", sans-serif;
  padding-left: 0.6em;
  margin-bottom: 0.4em;
}

a.search-term-button {
  font-variant: small-caps;
  display: inline-block;
  margin: 0.4em;
  padding: 0.2em;
  text-decoration: none;
  border-radius: 7%;
  background-color: #2e332f;
  color: #f9dca7;
}

.center-text {
  text-align: center;
}

.book-details-actions-menu {
  text-align: center;
}

.book-details-actions-menu form {
  padding-top: 0.2em;
}

.book-details-actions-menu input,
.book-details-actions-menu label {
  padding: 0.4em;
  cursor: pointer;
}

.book-details-actions-menu input[type="radio"]:checked+label {
  font-weight: bold;
  text-decoration: underline;
}

.book-details-actions-menu input:first-of-type {
  margin-left: 0.5em;
  opacity: .5;
}

.book-details-actions-menu input {
  margin-left: 2em;
  opacity: .5;
}

.book-details-details-info ul {
  margin-top: 0;
  list-style: none;
}

.book-details-details-info li {
  font-weight: bold;
}

.book-details-details-info span {
  font-weight: normal;
}

.book-details-related .link-container {
  padding-left: 1em;
}

/* user book from BookSearch */
.userBook .book-title,
.userBook .book-authors {
  background-color: rgb(239, 225, 126);
}

.userBook .book-cover {
  border-top: 4px solid #e0bc0c;
}

.book-in-library {
  font-size: 0.7em;
  padding-left: 0.3em;
}

/* for sticky footer when few or no search results */
.sticky-wrap {
  min-height: calc(100vh - 4.4em);
}

footer {
  text-align: center;
}

footer span {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 0.4em;
}

.brand-font {
  font-family: "Kranky", sans-serif;
}

.star {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.star-container {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.star-container svg {
  width: 1.8em;
  height: auto;
}

.star-svg {
  filter: drop-shadow( -1px 1px 3px #888 );
}

@media screen and (max-width: 1000px) {
  .book-details-main-info h1 {
    margin-bottom: 0;
  }

  .book-details-main-info h5 {
    margin: 0;
  }
}


@media screen and (max-width: 700px) {
  .book-details-thumbnail {
    display: inline-block;
    float: right;
    margin: 1em;
  }

  .book-details-description,
  .book-details-description h2,
  .book-details-description p {
    float: none;
  }

  .book-details-description hr {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .book-details-actions-menu{
    display: none;
  }

  .full-width-xs {
    width: 100%;
  }

  .star-container svg {
    width: 1.2em;
    height: auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .book-details-main-info {
    max-width: 68%;
  }

  .book-details-actions-menu input {
    margin-left: 0;
  }

  .book-details-thumbnail {
    float: right;
  }
}

@media screen and (orientation: landscape) and (max-width: 600px) {
  .book-details-main-info {
    max-width: 64%;
  }

  .book-details-thumbnail {
    float: right;
  }
}

/* Queries for larger screens */
@media screen and (min-width: 900px) {
  .book-details-main-info {
    margin-left: 8%;
    max-width: 70%;
  }

  .book-details-thumbnail {
    float: left;
  }
}

@media screen and (min-width: 1000px) {
  .book-details-description {
    float: right;
    display: inline-block;
    max-width: 65%;
    margin-right: 5%;
  }

  .book-details-details-info {
    display: inline-block;
    float: left;
    clear: left;
    max-width: 30%;
  }

  .book-details-related {
    clear: both;
  }

  .book-details-details-info h2 {
    padding-left: 0.2em;
  }

  .book-details-details-info ul {
    padding-left: 0.6em;
  }

  hr {
    display: none;
  }
}

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 900px) {
    .book-details-thumbnail {
      float: right;
    }
}
